form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
}

#registration-header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}